.alin-c{
    border-bottom: 1px solid #3C1E14;

}
.information h4 {
    font-size: 90%;
    font-weight: bold;      
}

.fs-sml {
    font-size: 80%;
}

.btnmap01{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3C1E14;
    text-align: start;
}

.btnmap01 a {
    margin-bottom: 0px;
    display: block;
    color: #3C1E14;
    
    background-size: 14px;
    padding: 8px 2%;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.8em;
}
